/* Extra small devices (portrait phones, less than 576px) */
*:focus {
    outline: none;
}

nav a {
    color: white;
}

.navbar-brand {
    font-size: 24px;
}

.nav-item {
    border-bottom: 1px solid black;
}

.nav-item .active {
    border-bottom: 1px solid white;
}

.nav-item:hover, .nav-item:focus {
    color: white;
    border-bottom: 1px solid white;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    padding: .025rem 0.25rem;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-brand:hover {
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .navbar-brand {
        font-size: 28px;
    }

    .nav-link {
        font-size: 12px;
        padding: .5rem 1rem;
    }   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-brand {
        font-size: 30px;
    }

    .nav-link {
        font-size: 14px;
    }
}

@media (min-width: 992px) {     
    .navbar-brand {
        font-size: 35px;
    }
}