<section class="contact-body-wrapper">
    <div class="row">
        <div class="col-md-6">
            <h5>Experts in field</h5>
            <h3>Let's Talk</h3>
            <p>
                If you have any questions, suggestions, comments, or parthernship inquiries feel free to
                contact us.
            </p>

            <p>
                55 Abd Al Rahim Al Hajj Mohmmad ST. P.O. Box 940349, Amman, 11194 Jordan
            </p>
            <p>
                <a href="tel:+96265829919">+96265829919</a>
            </p>
            <p>
                <a href="mailto:info@odinmedia.co">info@odinmedia.co</a>
            </p>
        </div>
        <div class="col-md-6">
            <h3>
                Leave a comment
            </h3>
            <!-- <table class="table table-bordered">
                <form>
                    <tbody>
                        <tr>
                            <td>
                                Full Name
                            </td>
                            <td>Company</td>
                        </tr>
                        <tr>
                            <td colspan="2">Email</td>
                        </tr>
                        <tr>
                            <td colspan="2">Message</td>
                        </tr>
                    </tbody>
                </form>
            </table> -->
            <input type="hidden" name="form-name" value="contact" />
        </div>
    </div>
</section>
