<div class="container">
    <section class="about-body-wrapper">
        <section class="welcome">
            <div class="row">
                <div class="col-md-7">
                    <h3>
                        {{aboutBody.title}}
                    </h3>
                    <p class="text">
                        {{aboutBody.subtext}} 
                    </p>
                </div>
            </div>
        </section>

        <section class="facts">
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader1}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent1}}
                    </p>
                </div>
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader2}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent2}}
                    </p>
                </div>
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader3}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent3}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader4}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent4}}
                    </p>
                </div>
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader5}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent5}}
                    </p>
                </div>
                <div class="col-md-3 col-xs-3">
                    <h6 class="fact-title">
                        {{aboutBody.heroHeader6}}
                    </h6>
                    <p>
                        {{aboutBody.heroContent6}}
                    </p>
                </div>
            </div>
        </section>
    </section>
</div>