/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box!important;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

html, body {
    background-color: black;
}