/*  */
* {
    box-sizing: border-box!important;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

html, body {
    background-color: black;
}

.nav-container {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.navbar-brand {
    color: white!important;
    font-size: 35px;
}

.nav-item .active {
    text-decoration: underline;
}

.nav-item a:hover, .nav-item a:focus {
    color: white;
    text-decoration: underline;
}

.nav-link {
    color: white;
    text-transform: uppercase;
}

/* FOOTER STYLES */

footer {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    margin: 50px;
}

/* INDEX STYLES */



/* ABOUT STYLES */

.welcome, .facts * {
    color: white;
}

.about-body-wrapper {
    margin-top: 4%;
    margin-left: 15%
}

.about-body-wrapper h3 {
    text-transform: uppercase;
}

.about-body-wrapper .text {
    margin-top: 20px;
}

.about-body-wrapper .facts {
    margin-top: 5%
}

.about-body-wrapper .fact-title {
    text-transform: uppercase;
}

/* WORK STYLES */

.work-body-wrapper {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.work-row {
    margin-bottom: 15px;
}

.work-preview {
    position: relative;
}

.work-body-wrapper .hero-overlay {
    position: relative;
    width: 250px;
    height: 200px;
    cursor: pointer;
}

.work-body-wrapper .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.work-body-wrapper, .overlay * {
    color: white;
}

/* CONTACT STYLES */

.contact-body-wrapper {
    margin-top: 5%
}

.contact-body-wrapper * {
    color: white;
}

/* ODIN AWARD STYLES */ 

.award-body-wrapper {

}

/* BLOG STYLES */

.blog-body-wrapper {

}